.consult-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #ffffff; /* 배경색 설정 (필요시 변경) */
    position: fixed;
    top: 180px; /* 원하는 위치에 맞게 top 값 조정 */
    right: 00px; /* 오른쪽 여백 설정 */
    z-index: 1000; /* 다른 요소들 위에 보이도록 z-index 설정 */
}

.kt-consult-box {
    position: relative;
    width: 189px;
    height: 373px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0 0 20px; /* 왼쪽 위, 아래 둥근 모서리 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.consult-title {
    text-align: left;
    font-family: 'Paperlogy-5';
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 3px;
    align-self: flex-start; /* 부모의 flex 정렬을 무시하고 왼쪽 정렬 */

}


.consult-button {
    display: block;
    width: 154px;
    height: 37px;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: 'Paperlogy-5';
    font-size: 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.consult-button.blue {
    background-color: #155DE7;
    color: white;
    justify-content: center;
    align-items: center;
}

.consult-button.yellow {
    background-color: #ffd700;
    color: black;
}

.consult-image {
    width: 154px;
    height: 167px;
    background-color: #DBDBDB; /* 이미지 영역을 회색으로 표시 */
    margin: 16px 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consult-footer {
    text-align: center;
    font-size: 15px;
    margin-top: 1px;
    font-family: 'Paperlogy-8';
    padding-bottom: 20px;
}

.consult-footer strong {
    font-weight: bold;
}

.consult-arrow, .show-arrow  {
    position: absolute;
    left: -26px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 48px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
    border-radius: 12px 0 0 12px; /* 더 부드러운 둥근 모서리 */
    border: none; /* 경계선 제거 */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15); /* 선택적 그림자 효과 */
    z-index: 10; /* 화살표가 항상 보이도록 보장 */

}

.hidden {
    display: none; /* 숨기는 스타일 */
}

.show-arrow {
    display: none; /* 기본적으로 숨김 */
    z-index: 10;
}